include LICENSE
include README.md
recursive-include docs *.md *.svg
recursive-include demo *.md *.ipynb *.csv
recursive-include benchmarks *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[cod]
